@import url('https://fonts.googleapis.com/css2?family=Geist+Mono:wght@100..900&display=swap');

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;

  font-family: "Geist Mono", monospace;
  background: var(--main-color);
}

.heroBanner > Heading {
  font-weight: bolder;
}

.imageLogo {
  height: 200px;
  width: 200px;
}

.bannerRoutes {
  display: flex;
  align-items: center;
  flex-direction: column;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.warning {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 20px;
  margin: auto;
}
