:root {
  --ifm-color-primary: #1f6feb;
  --ifm-color-primary-dark: #1158c7;
  --ifm-color-primary-darker: #0d419d;
  --ifm-color-primary-darkest: #0d419d;
  --ifm-color-primary-light: #79c0ff;
  --ifm-color-primary-lighter: #a5d6ff;
  --ifm-color-primary-lightest:#CAE8FF;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);

  --main-color: white;
  --contrast-color: black;
  --contrast-color-transparent: rgba(0, 0, 0, 0.4);

  --blue-warning-shade-0: hsl(199, 100%, 80%);
  --blue-warning-shade-1: hsl(199, 100%, 60%);

  --orange-warning-shade-0: hsl(20, 100%, 80%);
  --orange-warning-shade-1: hsl(20, 100%, 60%);

  --ifm-heading-h1-font-size: 1.5rem;
  --ifm-heading-h2-font-size: 1.3rem;
  --ifm-heading-h3-font-size: 1.1rem;
  
}

[data-theme='dark'] {
  --ifm-color-primary: #79c0ff;
  --ifm-color-primary-dark: #58a6ff;
  --ifm-color-primary-darker: #388bfd;
  --ifm-color-primary-darkest: #1f6feb;
  --ifm-color-primary-light: #79c0ff;
  --ifm-color-primary-lighter: #a5d6ff;
  --ifm-color-primary-lightest:#cae8ff;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);

  --main-color: black;
  --contrast-color: white;
  --contrast-color-transparent: rgba(255, 255, 255, 0.4);

  --blue-warning-shade-0: hsl(199, 100%, 40%);
  --blue-warning-shade-1: hsl(199, 100%, 25%);

  --orange-warning-shade-0: hsl(20, 100%, 40%);
  --orange-warning-shade-1: hsl(20, 100%, 25%);

  --prism-background-color: #282A36;
  --prism-color: #F8F8F2;
}

.theme-code-block {
  tab-size: 4;
}

.theme-code-block .token.error {
  text-decoration: underline;
  text-decoration-color: red;
}

.theme-code-block .token.comment {
  color: #6272A4;
}

.theme-code-block .token.inline-hint {
  background-color: #00000055;
  border: 1px solid gray;
  padding: 0 0.5em 0 0.5em;
  border-radius: 5px;
  opacity: 50%;
  user-select: none;
}

.theme-code-block .token.keyword {
  color: #FF79C6;
}

.theme-code-block .token.attribute {
  color: #8BE9FD;
}

.theme-code-block .token.type {
  color: #8BE9FD;
  font-style: italic;
}

.theme-code-block .token.function {
  color: #50FA7B;
}

.theme-code-block .token.number {
  color: #BD93F9;
}

.theme-code-block .token.string {
  color: #F1FA8C;
}

.theme-code-block .token.boolean {
  color: #BD93F9;
  font-style: italic;
}

.theme-code-block .token.operator {
  color: #FF79C6;
}

.theme-code-block .theme-admonition {
  font: var(--ifm-font-size-base) / var(--ifm-line-height-base) var(--ifm-font-family-base);
  margin: 0;
  padding-top: 1em;
  padding-bottom: 1em;
  margin-top: 1em;
  border-radius: 0;
  background: #ff555540;
  border: none;
}
.theme-code-block .theme-admonition > div {
  margin: 0;
}
